
<section class="presentation">
    <div class="container-min">
        <div class="row justify-content-center">
            <h1 class="pres-title">Présentation de l'équipe</h1>

            <div class="gallery col-12 row">
                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/baptiste.jpg') }}" alt="">
                    <h2 class="pf-title">Baptiste BOURIAU</h2>
                    <h3 class="pf-status">
                        B3DEV - NANTES
                    </h3>
                    <h3 class="pf-status-sub">
                        Commanditaire - Chef de projet - Team Manager
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>HTML & CSS</li>
                        <li>JavaScript</li>
                        <li>PHP</li>
                        <li>Symfony</li>
                        <li>Sylius</li>
                        <li>Git</li>
                        <li>Adobe XD</li>
                        <li>Démarche UX/UI</li>
                    </ul>
                </div>
                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/ewen.jpg') }}" alt="">
                    <h2 class="pf-title">Ewen BALOUIN</h2>
                    <h3 class="pf-status">
                        B3DEV - NANTES
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>django</li>
                        <li>vueJS</li>
                        <li>C#</li>
                        <li>Dotnet</li>
                        <li>Ionic</li>
                        <li>HTML//CSS/ES6</li>
                        <li>Xamarin</li>
                    </ul>
                </div>
                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/pn.jpg') }}" alt="">
                    <h2 class="pf-title">Pierre-Nicolas ZINSOU</h2>
                    <h3 class="pf-status">
                        B3DEV - NANTES
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>PHP</li>
                        <li>HTML & CSS</li>
                        <li>C</li>
                        <li>WordPress</li>
                        <li>Démarche UX/UI</li>
                    </ul>
                </div>

                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/lucas.jpg') }}" alt="">
                    <h2 class="pf-title">Lucas DURAND</h2>
                    <h3 class="pf-status">
                        B3DEV - NANTES
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>Design (Adobe XD/Figma)</li>
                        <li>Ionic</li>
                        <li>PHP</li>
                        <li>HTML & CSS</li>
                    </ul>
                </div>
                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/ben.png') }}" alt="">
                    <h2 class="pf-title">Benjamin BORDELET</h2>
                    <h3 class="pf-status">
                        B2DEV - NANTES
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>HTML & CSS</li>
                        <li>JavaScript</li>
                        <li>AJAX</li>
                        <li>PHP</li>
                    </ul>
                </div>
                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/come.jpg') }}" alt="">
                    <h2 class="pf-title">Come TRISSE</h2>
                    <h3 class="pf-status">
                        B2DEV - NANTES
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>PHP</li>
                        <li>HTML & CSS</li>
                        <li>MySQL</li>
                        <li>Angular JS</li>
                        <li>CodeIgniter</li>
                    </ul>
                </div>
                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/robin.jpg') }}" alt="">
                    <h2 class="pf-title">Robin TURPIN</h2>
                    <h3 class="pf-status">
                        B1DEV - NANTES
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>HTML & CSS</li>
                        <li>JavaScript</li>
                    </ul>
                </div>
                <div class="profil col-4">
                    <img class="pf-img" src="{{ asset('build/images/profil/lucas.png') }}" alt="">
                    <h2 class="pf-title">Lucas RABUT</h2>
                    <h3 class="pf-status">
                        B1DESIGN ANGERS
                    </h3>
                    <ul class="pf-skill">Compétences :
                        <li>Photoshop</li>
                        <li>Illustrator</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>