
<section class="presentation">
    <div class="container-min">
        <div class="row justify-content-center">
            <h1 class="pres-title">Présentation de l'équipe</h1>
            <div class="gallery col-12">

                <div class="slider">
                    <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide2" class="slider__nav"/>
                    <input type="radio" name="slider" title="slide3" class="slider__nav"/>
                    <div class="slider__inner">
                        <div class="slider__contents row">
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/baptiste.jpg') }}" alt="">
                                <h2 class="pf-title">Baptiste BOURIAU</h2>
                                <h3 class="pf-status">
                                    B3DEV - NANTES
                                </h3>
                                <h3 class="pf-status-sub">
                                    Commanditaire - Chef de projet - Team Manager
                                </h3>
                            </div>
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/ewen.jpg') }}" alt="">
                                <h2 class="pf-title">Ewen BALOUIN</h2>
                                <h3 class="pf-status">
                                    B3DEV - NANTES
                                </h3>
                            </div>
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/pn.jpg') }}" alt="">
                                <h2 class="pf-title">Pierre-Nicolas ZINSOU</h2>
                                <h3 class="pf-status">
                                    B3DEV - NANTES
                                </h3>
                            </div>
                        </div>
                        <div class="slider__contents row">
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/lucas.jpg') }}" alt="">
                                <h2 class="pf-title">Lucas DURAND</h2>
                                <h3 class="pf-status">
                                    B3DEV - NANTES
                                </h3>
                            </div>
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/ben.png') }}" alt="">
                                <h2 class="pf-title">Benjamin BORDELET</h2>
                                <h3 class="pf-status">
                                    B2DEV - NANTES
                                </h3>
                            </div>
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/come.jpg') }}" alt="">
                                <h2 class="pf-title">Come TRISSE</h2>
                                <h3 class="pf-status">
                                    B2DEV - NANTES
                                </h3>
                            </div>
                        </div>
                        <div class="slider__contents row">
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/robin.jpg') }}" alt="">
                                <h2 class="pf-title">Robin TURPIN</h2>
                                <h3 class="pf-status">
                                    B1DEV - NANTES
                                </h3>
                            </div>
                            <div class="profil">
                                <img class="pf-img" src="{{ asset('build/images/profil/lucas.png') }}" alt="">
                                <h2 class="pf-title">Lucas RABUT</h2>
                                <h3 class="pf-status">
                                    B1DESIGN ANGERS
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>